.App {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  background-color: #2196f3;
}

.centerBlock {
  display: table;
  margin: auto;
}

.leftBlock {
    display: table;
    margin: auto;
    margin-right: 0;
    padding: 2em;
}
